

@import url(http://fonts.googleapis.com/css?family=Righteous|Marvel);
html { 
  background: url("http://i.dailymail.co.uk/i/pix/2014/11/07/1415370837687_wps_33_Pictured_Jokulsarlon_Lago.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

#title{
  font-size :200px;
  text-align : center;
  font-family: 'Righteous', cursive;
  color : black; 
  opacity: 0.5;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  text-shadow:2px 2px;
}

#title:hover {
  -webkit-transform:scale(1.2);
  transform:scale(1.2);
  color:#909090;
  text-shadow:2px 2px black;
  -webkit-filter: blur(5px);
}

li{
  display: inline-block;
  border-style:solid;
  list-style-position:inside;
  list-style-type: none;
}

#sub_heading {
  text-align :center;
  font-family: 'Marvel', sans-serif;
  opacity: 0.8;
  font-size : 50px;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
#sub_heading:hover {
    text-align :center;
  font-family: 'Marvel', sans-serif;
  opacity: 0.8;
  font-size : 50px;
  -webkit-transform:scale(1.2);
  transform:scale(1.2);

}
.active {
  text-align: center;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
.active:hover{
  -webkit-transform:scale(1.2);
  transform:scale(1.2);
}
#sub_nav{
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  text-align: center;
}
#sub_nav:hover{
  -webkit-transform:scale(1.2);
  transform:scale(1.2);
}
.nav_item{
  display:inline-block;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  text-align: center;
}
.hide{
  display: none;
}
.hide:hover{
  display:visible;
}
.nav_item:hover{
  -webkit-transform:scale(1.2);
  transform:scale(1.2);
}

.section_title{
  opacity: 0.7;
  color:#1D2022;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  text-align:center;
}
.section_title:hover{
  text-shadow:2px 2px black;
  color:#6F8291;
  -webkit-transform:scale(1.2);
  transform:scale(1.2);
}
h4 {
  color:#1D2022;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  text-align: center;
}
h4:hover{
  color:#6F8291;
  text-shadow:2px 2px black;
  -webkit-transform:scale(1.2);
  transform:scale(1.2);
}
p{
  text-align: center;
}
p:hover{
  color:white;
  text-shadow:2px 2px black;
}

span {
  text-align:center;
  opacity: 0.6;
}