@import url(http://fonts.googleapis.com/css?family=Righteous|Marvel);
html { 
  background: url("http://upload.wikimedia.org/wikipedia/commons/0/03/Antennae_Galaxies_composite_of_ALMA_and_Hubble_observations.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

#title{
  font-size :200px;
  text-align : center;
  font-family: 'Righteous', cursive;
  color : black; 
  opacity: 0.5;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  text-shadow:2px 2px;
}

#title:hover {
  -webkit-transform:scale(1.2);
  transform:scale(1.2);
  color:#909090;
  text-shadow:2px 2px black;
}
li{
  list-style-position:inside;
}

#sub_heading {
  text-align :center;
  font-family: 'Marvel', sans-serif;
  opacity: 0.8;
  font-size : 50px;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
#sub_heading:hover {
    text-align :center;
  font-family: 'Marvel', sans-serif;
  opacity: 0.8;
  font-size : 50px;
  -webkit-transform:scale(1.2);
  transform:scale(1.2);

}
.active {
  text-align: center;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
.active:hover{
  -webkit-transform:scale(1.2);
  transform:scale(1.2);
}
#sub_nav{
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  text-align: center;
}
#sub_nav:hover{
  -webkit-transform:scale(1.2);
  transform:scale(1.2);
}
.nav_item{
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  text-align: center;
}
.nav_item:hover{
  -webkit-transform:scale(1.2);
  transform:scale(1.2);
}

.section_title{
  opacity: 0.7;
  color:#1D2022;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  text-align:center;
}
.section_title:hover{
  color:#6F8291;
  -webkit-transform:scale(1.2);
  transform:scale(1.2);
}
h4 {
    color:#1D2022;
         -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  text-align: center;
}
h4:hover{
    color:#6F8291;
  -webkit-transform:scale(1.2);
  transform:scale(1.2);
}
p{
  text-align: center;
}
p:hover{
  color:white;
  text-shadow:2px 2px black;
}

span {
  text-align:center;
  opacity: 0.6;
}